
@model EmployeeEditViewModel

@inject IDepartmentService departmentService

@{
    var departments = new SelectList(departmentService.GetAllDepartments() as IEnumerable<DepartmentDto>, nameof(DepartmentDto.Id), nameof(DepartmentDto.Name));
}

<form asp-action="@ViewData["Title"]" method="post" class="row col-6">

    <div asp-validation-summary="ModelOnly"></div>


    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control mb-3" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input asp-for="Email" class="form-control mb-3" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="Address"></label>
        <input asp-for="Address" class="form-control mb-3" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="Age"></label>
        <input asp-for="Age" class="form-control mb-3" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control mb-3" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group col-6 mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control mb-3" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group col-6 my-3">
        <label class="control-label" asp-for="DepartmentId"></label>
        @* <select asp-for="DepartmentId" asp-items="@ViewData["Depts"] as SelectList" class="form-control mb-3"> *@
        <select asp-for="DepartmentId" asp-items="@departments" class="form-control mb-3">
            <option value="@null">Choose ... </option>
        </select>
        @* <span asp-validation-for="EmployeeType" class="text-danger"></span> *@
    </div>

    <div class="form-group col-6 my-3">
        <label class="control-label" asp-for="EmployeeType"></label>
        <select asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-control mb-3">
            <option value="">Select Employee Type</option>
        </select>
        @* <span asp-validation-for="EmployeeType" class="text-danger"></span> *@
    </div>

    <div class="form-group col-6">
        <label class="control-label mb-3" asp-for="Gender"></label><br />
        @foreach (Gender genderOption in Enum.GetValues(typeof(Gender)))
        {
            <label class="radio-inline">
                <input type="radio" asp-for="Gender" value="@genderOption" />
                @genderOption
            </label>

            <br />
        }
    </div>

    <div class="form-group col-12 mb-3">
        <label class="form-label" asp-for="HiringDate"></label>
        <input asp-for="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>

    <div class="form-check col-12 mb-3">
        <label class="form-check-label" asp-for="IsActive"></label>
        <input asp-for="IsActive" class="form-check-input mb-3" />
        @* <span asp-validation-for="IsActive" class="text-danger"></span> *@
    </div>



    @if ((ViewData["Title"] as string) == "Create")
    {
        <div class="mt-4 col-12">
            <input type="submit" value="Create" class="btn btn-primary" />|
            <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
        </div>
    }
    else
    {
        <div class="mt-4 col-12">
            <input type="submit" value="Save" class="btn btn-success" />|
            <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    }


</form>
